form a {
  margin-left: 10px;
}

.text-xs-right {
  margin-top: 10px;
}

.fade-enter {
right: 100px;

}

.fade-enter-active {

  right: 0px;
  transition: .5s ease-in all;


}

.fade-leave {
  right: 0px;
}

.fade-leave-active {
  right: -100px;
  transition: .5s ease-out all;
}

.round {
  border radius: 50;
  color: red;
}
